.git
.github
docs
node_modules
vendor
public/build
public/hot
storage/logs
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
.env
.env.docker
deploy/.env.production
.phpunit.result.cache
README.md
